<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Apartments at 323 Fairfield</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/virtual-tour">Virtual Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="/floorplans">Floorplans</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rentals">Rentals</a></li>
                        <li class="nav-item"><a class="nav-link" href="/forms">Forms</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-1">
                <h1>About Us</h1>
                <br>
                <h5>323 Fairfield Avenue Apartments is a five story luxury hi-rise located at 323 Fairfield Avenue, Bridgeport, CT  06604.  We are located in downtown Bridgeport, just two blocks from public transportation!  The building is a mixed use property, consisting of 81 residential apartments and 7 retail stores. There is also a secure courtyard in the rear of the building, great for enjoying some fresh air!</h5>
                <br>
                <div class="row gx-5 mb-2">
                    <div class="col">
                        <h5>Key Features Include:</h5>
                        <ul>
                            <li>One Bedroom/One Bath Units
                                <ul>
                                    <li>Appliances included are refrigerator, range, dishwasher, microwave, and washer/dryer</li>
                                    <li>Kitchen and living room feature hardwood floors, and bedroom is carpeted</li>
                                    <li>Individual central heat and AC</li>
                                    <li>Square footage of one bedroom units vary from 804 - 985 square feet</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>Two Bedroom/Two Bath Units
                                <ul>
                                    <li>Appliances included are refrigerator, range, dishwasher, microwave, and washer/dryer</li>
                                    <li>Kitchen and living room feature hardwood floors, and bedroom is carpeted</li>
                                    <li>Individual central heat and AC</li>
                                    <li>Square footage of one bedroom units vary from 1094 - 1257 square feet</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>
                            <a class="text-decoration-none" href="/virtual-tour">
                                Take our virtual tour
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </h5>
                        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="3000">
                                <img src="/static/img/100078183_01_hdp_bijousquare_ext_bldg4.jpg" class="d-block w-100" alt="..."  style="max-height:400px; width:auto">
                              </div>
                              <div class="carousel-item" data-bs-interval="3000">
                                <img src="/static/img/100078183_02_hdp_bijousquare_ext_bldg1.jpg" class="d-block w-100" alt="..." style="max-height:400px; width:auto">
                              </div>
                              <div class="carousel-item" data-bs-interval="3000">
                                <img src="/static/img/100078183_04_hdp_bijousquare_int_mail.jpg" class="d-block w-100" alt="..." style="max-height:400px; width:auto">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col">
                    <h5>Other Information:</h5>
                        <ul>
                            <li>Tenants pay for electric (all appliance and heat/AC are electric)</li>
                            <li>Landlord pays for water, sewer and trash removal</li>
                            <li>Rental rates differ based on available units</li>
                            <li>All leases are for one year</li>
                            <li>Pets are welcome in our building
                                <ul>
                                    <li>We allow one pet per unit with a maximum weight of 20 lbs</li>
                                    <li>Pets have a $250 non-refundable pet deposit</li>
                                </ul>
                            </li>
                            <li>Parking is available at an extra monthly fee at parking garage located directly across the street</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>
                            <a class="text-decoration-none" href="!#">
                                View floorplans
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-2"><p class="m-0 text-white">Copyright &copy; 2022 Bar Management LLC</p></div>
            <div class="container px-2"><p class="m-0 text-white">Phone: 908-272-0511</p></div>
            <div class="container px-2"><p class="m-0 text-white">Address: PO Box 216, Kenilworth, NJ 07033</p></div>
            <div class="container px-2"><p class="m-0 text-white">Website made using open source tools <a href="https://flask.palletsprojects.com/en/2.0.x/">python flask</a>, <a href="https://getbootstrap.com/">bootstrap</a>, and <a href="https://www.postgresql.org/">postgresql</a>.</p></div>
          </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
