<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Virtual Tour</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <link href="static/css/custom.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Apartments at 323 Fairfield</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/virtual-tour">Virtual Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="/floorplans">Floorplans</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rentals">Rentals</a></li>
                        <li class="nav-item"><a class="nav-link" href="/forms">Forms</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-1">
                <h1>Virtual Tour</h1>
                <br>
                <h5>Take a tour of your new home! Hover over photos to enlarge, and press the play button to view our video tour.</h5> 
                <h5>Check out the various <a href="/floorplans">floorplan diagrams</a> as well!</h5>
                <br>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Street View</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_01_hdp_bijousquare_ext_bldg4.jpg" alt="Street View">
                            
                        </figure>
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Retail Store</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_03_hdp_bijousquare_ext_bldg2.jpg" alt="Retail Store">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Courtyard</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_02_hdp_bijousquare_ext_bldg1.jpg" alt="Courtyard">
                        </figure>
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Retail Store</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_06_hdp_bijousquare_ext_bldg3.jpg" alt="Retail Store">
                        </figure>
                    </div>
                    <div class="col">
                        <iframe src="https://player.vimeo.com/video/630159744?h=1da1999bbd" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Mailroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_04_hdp_bijousquare_int_mail.jpg" alt="Mailroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Lobby</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_05_hdp_bijousquare_int_lobby1.jpg" alt="Lobby">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Kitchen</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_07_hdp_bijousquare_flpn1_kit1.jpg" alt="Floor Plan 1 Kitchen">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Kitchen</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_08_hdp_bijousquare_flpn1_kit2.jpg" alt="Floor Plan 1 Kitchen">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Living Room</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_09_hdp_bijousquare_flpn1_liv1.jpg" alt="Floor Plan 1 Living Room">
                        </figure>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Living Room</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_10_hdp_bijousquare_flpn1_liv2.jpg" alt="Floor Plan 1 Living Room">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_11_hdp_bijousquare_flpn1_bed1.jpg" alt="Floor Plan 1 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_12_hdp_bijousquare_flpn1_bed2.jpg" alt="Floor Plan 1 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_13_hdp_bijousquare_flpn1_bed3.jpg" alt="Floor Plan 1 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_14_hdp_bijousquare_flpn1_bed4.jpg" alt="Floor Plan 1 Bedroom">
                        </figure>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Closet</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_15_hdp_bijousquare_flpn1_closet.jpg" alt="Floor Plan 1 Closet">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Laundry</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_16_hdp_bijousquare_flpn1_laundry.jpg" alt="Floor Plan 1 Laundry">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bathroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_17_hdp_bijousquare_flpn1_bth1.jpg" alt="Floor Plan 1 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 1 Bathroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_18_hdp_bijousquare_flpn1_bth2.jpg" alt="Floor Plan 1 Bathroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Kitchen</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_19_hdp_bijousquare_flpn2_kit1.jpg" alt="Floor Plan 2 Kitchen">
                        </figure>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Living Room</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_20_hdp_bijousquare_flpn2_liv1.jpg" alt="Floor Plan 2 Living Room">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_21_hdp_bijousquare_flpn2_bed1.jpg" alt="Floor Plan 2 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_22_hdp_bijousquare_flpn2_bed2.jpg" alt="Floor Plan 2 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Bedroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_23_hdp_bijousquare_flpn2_bed3.jpg" alt="Floor Plan 2 Bedroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Closet</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_24_hdp_bijousquare_flpn2_closet.jpg" alt="Floor Plan 2 Closet">
                        </figure>
                    </div>
                </div>
                <div class="row gx-5 mb-2">
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Bathroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_25_hdp_bijousquare_flpn2_bth1.jpg" alt="Floor Plan 2 Bathroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        <figure class="figure virtual-tour-image" style="position:relative">
                            <figcaption class="figure-caption text-center">Floor Plan 2 Bathroom</figcaption>
                            <img class="img-thumbnail figure-img mb-2" src="static\img\100078183_26_hdp_bijousquare_flpn2_bth2.jpg" alt="Floor Plan 2 Bathroom">
                        </figure>
                    </div>
                    <div class="col-sm">
                        
                    </div>
                    <div class="col-sm">
                        
                    </div>
                    <div class="col-sm">
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-2"><p class="m-0 text-white">Copyright &copy; 2022 Bar Management LLC</p></div>
            <div class="container px-2"><p class="m-0 text-white">Phone: 908-272-0511</p></div>
            <div class="container px-2"><p class="m-0 text-white">Address: PO Box 216, Kenilworth, NJ 07033</p></div>
            <div class="container px-2"><p class="m-0 text-white">Website made using open source tools <a href="https://flask.palletsprojects.com/en/2.0.x/">python flask</a>, <a href="https://getbootstrap.com/">bootstrap</a>, and <a href="https://www.postgresql.org/">postgresql</a>.</p></div>
          </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
        <!-- Custom Javascript to enlarge image on hover -->
        <script src="static\js\virtual_tour.js"></script>
    </body>
</html>
